<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="">
        <form id="shortURL">
            <label for="url">original URL</label>
            <input type="text" name="originalUrl" id="input">
            <button type="submit">送出</button>
        </form>
        <div id="response">
            <p>short url:</p>
        </div>
    </div>
    <script>
        const api = '/shorturl';
        const formSubmit = document.getElementById('shortURL');


        formSubmit.addEventListener('submit', (e) => {
            e.preventDefault();
            const input = document.getElementById('input');
            const originalUrl = input.value;
            const response = document.getElementById('response');
            console.log(input)
            console.log('inputValue-->',originalUrl)
            if (!originalUrl) return alert('請輸入網址');

            const data = { "originalUrl" : originalUrl };

            console.log(JSON.stringify(data));

            const config = { 
                method: 'POST', 
                headers: { "Content-Type" : "application/json" },
                body: JSON.stringify(data)
            }
            

            fetch(api, config)
                .then(res => res.json())
                .then(res => {
                    console.log('收到回應！！！！！',res);
                    if (res.status === "success") {
                        const div = document.createElement("div");
                        div.classList.add('result');
                        div.textContent = res.url;
                        response.appendChild(div);
                    }
                })
                .catch(err => console.log(err))
        })

    </script>
</body>

</html>